<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="defaultFigureVertexes" value="-120, 20; -120, -20; -60, -60; 60, -60; 120, -20; 120, 20; 60, 60; -60, 60"/>
		<add key="customFigureVertexes" value="-120, 20; -120, -20; -60, -60; 60, -60; 120, -20; 120, 20; 60, 60; -60, 60"/>
		<add key="defaultFigureColor" value="Color.Green"/>
		<add key="customFigureColor" value="Color.Green"/>
		<add key="defaultTrajectoryColor" value="Color.Black"/>
		<add key="customTrajectoryColor" value="Color.Black"/>
		<add key="defaultPictureBoxColor" value="Color.Blue"/>
		<add key="customPictureBoxColor" value="Color.Blue"/>
	</appSettings>
</configuration>